/*This is a Free Code Camp project - Product Landing page - CSS file*/
body{
    display:auto;
}
#header-img{
    float: left;
    padding: 10px;
}
#header{
    text-align: center;
    position:absolute;
    left:0px;
    right:0px;
    line-height: 100px;
}
@media (max-width:480px){
    #header-img {
        display:none;
    }
}